<div class="login_container">
<div class="box">
    <div class="main_content">
      <h1>Log in</h1>  
      <%= @test if @test %>
      <%= form_tag login_path do %>  
        <div class="field">  
          <label>Usuário</label>  
          <%= text_field_tag :username, params[:username] %>  
        </div>  
        <div class="field">  
          <label>Senha</label>  
          <%= password_field_tag :password %>  
        </div>  
        <div class="actions"><%= submit_tag "Log in" %></div>  
      <% end %>  
    </div>
</div>
</div>