<%= form_for(@dpto, :remote => true) do |f| %>
  <% if @dpto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dpto.errors.count, "error") %> prohibited this dpto from being saved:</h2>

      <ul>
      <% @dpto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new_dpto">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :abbr %><br>
      <%= f.text_field :abbr %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
