<h1>Departamentos</h1>

<%= render 'form' %>
<table class="dptos_list">
	<thead>
		<tr>
			<th>Departamento</th>
			<th>Sigla</th>
		</tr>
	</thead>
	<tbody>
		<% @dptos.each do |dpto| %>
		  <tr class="fields" id="dpto_item_<%= dpto.id %>">
		    <td><%= dpto.name %></td>
		    <td><%= dpto.abbr %></td>
		    <td class="actions">
		      <%= link_to image_tag('subdptos.png'), new_dpto_subdpto_path(dpto), :title => "+ Subdpto"%>
		      <%= link_to image_tag('edit.png'), edit_dpto_path(dpto), :remote => true, :title => "Editar" %>
		      <%= link_to image_tag('delete.png'), dpto, method: :delete, data: { confirm: 'Tem certeza?' }, :remote => true, :title => "Deletar" %>
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>