<%= form_for(@computer, :remote => true, :class => "edit_computer_#{@computer.id}") do |f| %>
	<div class="fields">
		<div class="ip">
			<%= f.label :ip %>
			<%= f.number_field :ip, :autofocus => true%>
		</div>
		<div  class="dpto">
			<%= f.label :dpto_id %>
			<%= f.select :dpto_id, @dptos.to_a.collect {|d| [d.name, d.id] }, {include_blank: true}, :class => "computer_dpto_id_#{@computer.id}"%>
		</div>
		<div class="subdpto">
			<%= f.label :subdpto_id %>
			<%= select_tag :subdpto_id, {}, :disabled => true,  :class => "computer_subdpto_id_#{@computer.id}"%>
		</div>
		<div class="sort">
			<%= f.label :sort %>
			<%= f.text_field :sort %>
		</div>
		<div class="name">
		<%= f.label :name %>
		<%= f.text_field :name %>
		</div>
		<div class="actions">
			<%= f.submit %>  
		</div>
	</div>
	<script type="text/javascript">
	jQuery(function($) {
	// when the #region_id field changes
		$(".computer_dpto_id_<%= @computer.id %>").change(function() {
			// make a POST call and replace the content
			var dpto = $('.computer_dpto_id_<%= @computer.id %> :selected').val();
			if(dpto == "") dpto="0";
			jQuery.get('/computers/get_subdptos/' + dpto, function(data){
					$(".computer_subdpto_id_<%= @computer.id %>").replaceWith(data);
			})
			return false;
		});
	})
	</script>
<% end %>