<%= form_for(@computer, :remote => true) do |f| %>
  <% if @computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
      <% @computer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
        <th class="ip">IP</th>
        <th>Departamento</th>
        <th>Tipo</th>
        <th>Usuário</th>
        <th></th>
    </thead>
    <tbody>
      <tr class="fields">
        <td class="ip"><%= f.number_field :ip, :autofocus => true%></td>
        <td class="dpto"><%= f.select(:dpto_id, @dptos.map {|d| [ d['name'], d['id'] ] }, {include_blank: 'Departamento'}, required: true) %></td>
        <td class="sort"><%= f.text_field :sort %></td>
        <td class="name"><%= f.text_field :name %></td>
        <td class="actions"><%= f.submit "Salvar IP"%></td>
      </tr>
    </tbody>
  </table>
<% end %>