<%= form_for(@equipment, :remote => true, :class => "edit_equipment_#{@equipment.id}") do |f| %>
	<div class="fields">
		<div class="ip">
			<%= f.number_field :ip, :autofocus => true%>
		</div>
		<div  class="dpto">
			<%= f.select :dpto_id, @dptos.to_a.collect {|d| [d.name, d.id] }, {include_blank: true}, :class => "equipment_dpto_id_#{@equipment.id}"%>
		</div>
		<div class="subdpto">
			<%= select_tag :subdpto_id, {}, :disabled => true,  :class => "equipment_subdpto_id_#{@equipment.id}"%>
		</div>
		<div class="sort">
			<%= f.text_field :sort %>
		</div>
		<div class="actions">
			<%= link_to image_tag('save.png'), "#submit_form", :title => "Salvar", :class=> "submit_form", :remote => true%>
			<%= link_to image_tag('delete.png'), "#cancel_btn", :title => "Cancelar", :class=> "cancel_btn", :remote => true %>
		</div>
	</div>
	<script type="text/javascript">
	jQuery(function($) {
	// when the #region_id field changes
		$(".equipment_dpto_id_<%= @equipment.id %>").change(function() {
			// make a POST call and replace the content
			var dpto = $('.equipment_dpto_id_<%= @equipment.id %> :selected').val();
			if(dpto == "") dpto="0";
			jQuery.get('<%= root_path %>/equipment/get_subdptos/' + dpto, function(data){
					$(".equipment_subdpto_id_<%= @equipment.id %>").replaceWith(data);
			});
			return false;
		});
		// Save on enter pressed
		$('#edit_equipment_<%= @equipment.id %> input').keypress(function(e){
			if (e.which == 13) {
				$('#edit_equipment_<%= @equipment.id %>').submit();
			}
		});
		// Save on save button clicked
		$('.submit_form').click(function(){
		    $('#edit_equipment_<%= @equipment.id %>').submit();
		});
		$(".cancel_btn").click(function(){
			$('#edit_equipment_<%= @equipment.id %>').replaceWith('<tr class="fields" id="equipment_item_<%= @equipment.id %>"><td class="ip"><%= @equipment.ip %></td><% @dptos.each do |d| %><td><%=j d.abbr if @equipment.dpto_id == d.id %></td>  <% end %><% @subdptos.each do |s| %><td><%=j s.abbr if @equipment.subdpto_id == s.id %></td>  <% end %><td><%= @equipment.sort %></td></td><td class="actions"><%=j link_to image_tag("edit.png"), edit_equipment_path(@equipment), :remote => true, :title => "Editar" %><%=j link_to image_tag("delete.png"), @equipment, method: :delete, data: { confirm: "Are you sure?" }, :remote => true, :title => "Deletar"%></tr>');
			});
	})
	</script>
<% end %>