<%= form_for(@equipment, :remote => true, :class => "edit_equipment_#{@equipment.id}") do |f| %>
	<div class="fields">
		<div class="ip">
			<%= f.number_field :ip, :autofocus => true%>
		</div>
		<div  class="dpto">
			<%= f.select :dpto_id, @dptos.to_a.collect {|d| [d.name, d.id] }, {include_blank: true}, :class => "equipment_dpto_id_#{@equipment.id}"%>
		</div>
		<div class="subdpto">
			<%= select_tag :subdpto_id, {}, :disabled => true,  :class => "equipment_subdpto_id_#{@equipment.id}"%>
		</div>
		<div class="sort">
			<%= f.text_field :sort %>
		</div>
		<div class="actions">
			<%= f.submit  "Atualizar" %>
			<%= @old_equip.dpto_id %>
			<input type="button" class="cancel_btn" value="Cancelar"/>
		</div>
	</div>
	<script type="text/javascript">
	jQuery(function($) {
	// when the #region_id field changes
		$(".equipment_dpto_id_<%= @equipment.id %>").change(function() {
			// make a POST call and replace the content
			var dpto = $('.equipment_dpto_id_<%= @equipment.id %> :selected').val();
			if(dpto == "") dpto="0";
			jQuery.get('/equipment/get_subdptos/' + dpto, function(data){
					$(".equipment_subdpto_id_<%= @equipment.id %>").replaceWith(data);
			})
			return false;
		});
		$(".cancel_btn").click(function(){
			$('#edit_equipment_<%= @equipment.id %>').replaceWith('<tr class="fields" id="equipment_item_<%= @equipment.id %>"><td class="ip"><%= @equipment.ip %></td><% @dptos.each do |d| %><td><%=j d.abbr if @equipment.dpto_id == d.id %></td>  <% end %><% @subdptos.each do |s| %><td><%=j s.abbr if @equipment.subdpto_id == s.id %></td>  <% end %><td><%= @equipment.sort %></td><td class="actions"><%=j link_to "Edit", edit_equipment_path(@equipment), :remote => true %><%=j link_to "Destroy", @equipment, method: :delete, data: { confirm: "Tem certeza?" }, :remote => true %></td></tr>');
		});
	})
	</script>
<% end %>