<h1>Listing equipments</h1>
<%= render 'form' %>
<table class="equipments_list">
  <thead>
    <tr>
      <th class="ip">IP</th>
      <th>Departamento</th>
      <th>Subdepartamento</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% @equipments.each do |equipment| %>
          <tr class="fields" id="equipment_item_<%= equipment.id %>">
            <td class="ip"><%= equipment.ip %></td>
            <% @dptos.each do |d| %>
              <td class="dpto"><%= d.abbr if equipment.dpto_id == d.id %></td>  
            <% end %>
            <% @subdptos.each do |s| %>
              <td class="subdpto"><%= s.abbr if equipment.subdpto_id == s.id %></td>  
            <% end %>
            <td class="sort"><%= equipment.sort %></td>
            <td class="actions"><%= link_to 'Edit', edit_equipment_path(equipment), :remote => true %>
            <%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true%></td>
          </tr>
      <% end %>
  </tbody>
</table>