<h1>Equipamentos</h1>
<%= render 'form' %>
<table class="equipments_list">
  <thead>
    <tr>
      <th class="ip">IP</th>
      <th>Departamento</th>
      <th>Tipo</th>
    </tr>
  </thead>

  <tbody>
      <% @equipments.each do |equipment| %>
          <tr class="fields" id="equipment_item_<%= equipment.id %>">
            <td class="ip"><%= equipment.ip %></td>
            <td class="dpto">
              <% @dptos.each do |d| %>
                <%= d["abbr"] if equipment.dpto_id == d["id"] %>
              <% end %>
              </td>
            <td class="sort"><%= equipment.sort %></td>
            <td class="actions"><%= link_to image_tag('edit.png'), edit_equipment_path(equipment), :remote => true, :title => "Editar" %>
            <%= link_to image_tag('delete.png'), equipment, method: :delete, data: { confirm: 'Tem certeza que vai remover?' }, :remote => true, :title => "Deletar"%>
          </tr>
      <% end %>
  </tbody>
</table>