<p id="notice"><%= notice %></p>

<p>
  <strong>Dpto:</strong>
  <%= @equipment.dpto_id %>
</p>

<p>
  <strong>Subdpto:</strong>
  <%= @equipment.subdpto_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @equipment.sort %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_path %>
