<ul class="home_links">
	<li class="equipments"><a href="<%= root_path %>/equipment">Equipamentos <%= "(#{@equipments})" if !@equipments.blank? %></a></li>
	<li class="computers"><a href="<%= root_path %>/computers">Computadores <%= "(#{@computers})" if !@computers.blank? %></a></li>
	<!-- <li class="reports"><a href="<%= root_path %>/reports">Relatórios</a></li> -->
</ul>