<%= form_for([@dpto, @subdpto], :remote => true, :class => "edit_subdpto_#{@subdpto.id}") do |f| %>
    	<div class="fields">
    	    <div class="name"><%= f.text_field :name, :autofocus => true %></div>
    	    <div class="abbr"><%= f.text_field :abbr %></div>
    	    <div class="actions">
    		    <%= link_to image_tag('save.png'), "#submit_form", :title => "Salvar", :class=> "submit_form", :remote => true%>
    		    <%= link_to image_tag('delete.png'), "#cancel_btn", :title => "Cancelar", :class=> "cancel_btn", :remote => true %>
    	    </div>
        </div>
	<script>
		$(".cancel_btn").click(function(){
			$("#edit_subdpto_<%= @subdpto.id %>").replaceWith('<tr class="fields" id="subdpto_item_<%= @subdpto.id %>"><td><%= @subdpto.name %></td><td><%= @subdpto.abbr %></td><td class="actions"><%=j link_to image_tag("edit.png"), edit_dpto_subdpto_path(@dpto, @subdpto), :remote => true, :title => "Editar" %><%=j link_to image_tag("delete.png"), dpto_subdpto_path(@dpto, @subdpto), method: :delete, data: { confirm: "Tem certeza?" }, :remote => true, :title => "Deletar" %></td></tr>');
		});
	</script>
<% end %>