<h1>Subdepartamentos</h1>

<%= render 'form' %>
<table class="subdptos_list">
	<thead>
		<tr>
			<th>Subdepartamento</th>
			<th>Sigla</th>
		</tr>
	</thead>
	<tbody>
		<% @subdptos.each do |subdpto| %>
		  <tr class="fields" id="subdpto_item_<%= subdpto.id %>">
		    <td><%= subdpto.name %></td>
		    <td><%= subdpto.abbr %></td>
		    <td class="actions">
		      <%= link_to image_tag('edit.png'), edit_dpto_subdpto_path(@dpto, subdpto), :remote => true, :title => "Editar" %>
		      <%= link_to image_tag('delete.png'), [@dpto, subdpto], method: :delete, data: { confirm: 'Tem certeza?' }, :remote => true, :title => "Deletar" %>
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>