<!DOCTYPE html>
<html>
<head>
  <title>Sip</title>
  <!-- <link href='/assets/fonts/OpenSans-Regular.ttf' rel='stylesheet' type='text/css'> -->
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  
  <% unless notice.blank? %>
  <script>$(document).ready(function(){$('.notice').hide().slideDown().delay(5000).slideUp();});</script>
    <div class="notice">
      <%= notice %>
    </div>
  <% end %>

	<header>
		<div class="container">
			<div class="logo"><%= link_to image_tag('logo.png'), '/sip' %> <span>/SiP</span></div>
      <% if logged_in? %>
        <%= link_to 'Sair', logout_path, :class => "logout" %>
      <% end %>
		</div>
	</header>

	<div class="container">
		<div class="main_content">
			<%= yield %>
		</div>
	</div>

	<footer>
		<div class="container">
			<p>Desenvolvido por <a href="http://twitter.com/jrochelly">Jakson Rochelly</a> | Agência Tocantinense de Saneamento | Diretoria de TI</p>
		</div>
	</footer>
</div>
</body>
</html>
