<!DOCTYPE html>
<html>
<head>
  <title>Sip</title>
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> -->
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">


	<div class="home_container">
	<div class="box">
		<div class="home_logo"><%= link_to image_tag('logo.png'), '/' %> <span>/SiP<span></div>
			<div class="main_content">
				<%= yield %>
			</div>
	</div>
	</div>

	<footer>
		<div class="container">
			<p>Desenvolvido por <a href="http://twitter.com/jrochelly">Jakson Rochelly</a> | Agência Tocantinense de Saneamento | Diretoria de TI</p>
		</div>
	</footer>
</div>

</body>
</html>
